
.ProductList {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

.FormShopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}
  .FormShop {
    border: 1px solid #ccc;   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-height: max-content;
    align-content: center;
    margin-top: 20px;
     }

