.carousel-container {
  width: 100%;
  height: 300px; 
  overflow: hidden;

}

.imgCarousel {
width: 100%;
height: 300px;
  object-fit: contain; 
}


.slick-slide {
  display: flex;
  justify-content: center; 
  align-items: center;
}
